{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- DJANGO MESSAGES -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
{% endif %}

<br> 

<div class="container-fluid login-container">
    <div class="row h-100">

        <!-- Left Section -->
        <div class="col-md-6 left-section d-none d-md-flex">
            <div>
                <h1>Discover Stories.<br>Track Your Reads.<br>Join the Community.</h1>
                <p>Log in to explore new books, share reviews, and connect with fellow readers.</p>
            </div>
        </div>

        <!-- Right Section -->
        <div class="col-md-6 right-section">
            <div class="login-card">

                <h2 class="mb-3">Welcome Back!</h2>
                <p class="text-muted mb-4">Log in with your email and password.</p>

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                    </div>

                    <div class="mb-3">
                        <label>Password</label>

                        <div class="input-group">

                            <input type="password" name="password" id="password"
                                   class="form-control" placeholder="Enter your password" required>

                            <span class="input-group-text" onclick="togglePassword()">👁</span>

                        </div>
                    </div>

                    <button type="submit" class="btn btn-warning w-100">
                        Login
                    </button>
                    

                </form>

                <div class="text-center mt-3">

                    <span>Don't have an account? </span>

                    <a href="{% url 'register' %}" class="signup-link">
                        Sign up
                    </a>

                </div>

            </div>
        </div>

    </div>
</div>

<script>

function togglePassword() {
    const passwordField = document.getElementById("password");

    passwordField.type =
        passwordField.type === "password" ? "text" : "password";
}

</script>

{% endblock %}